html {
	font-size: 10px;
	margin: 0;
}

body {
	background-color: #fdfdfd;
	background-attachment: fixed;
	background-image: url('../../../dist/assets/img/hero.jpeg');
	background-position: top;
	background-size: cover;
	font-size: 1.6rem;
	height: 100%;
	margin: 0;
	width: 100%;
}
